__pycache__/
*.py[cod]
*.sqlite3
*.log
*.env
.env
*.zip
*.tar.gz
*.bak
*.tmp
*.DS_Store
*.swp
venv/
.env/
node_modules/
media/
staticfiles/
*.ofx
*.pdf
*.sqlite3
*.env
cartao_credito/data/
conta_corrente/data/